.card {
  border: 1px solid rgb(0, 0, 0, 0.1);
  min-width: 250px;
  max-width: 350px;
  border-radius: 15px;
  margin: 15px;
  display: inline-block;
}

.card:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.cardImage {
  min-width: 250px;
  max-width: 350px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.cardTitle {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: -10px;
}

.cardDesc {
  padding: 20px;
}
