.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ebf2fa;
  margin: auto;
  width: 90vw;
}

.navigation a {
  color: black;
  text-decoration: none;
  margin: 10px;
}

.notLogo {
  display: flex;
  align-items: center;
}

.user {
  display: flex;
  margin-left: 15px;
  font-weight: bold;
  color: #064789;
}

.user button {
  color: white;
  background-color: #064789;
  margin-left: 15px;
  border: none;
  border-radius: 20px;
  padding: 5px 12px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.user button:hover {
  background-color: cornflowerblue;
}
