/* SearchBar.css */
.search-bar-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
  width: 90vw;
  border-bottom: 1px solid gray;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 240px;
}

.search-button {
  padding: 10px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.sort-aå,
.filter-button {
  padding: 10px;
  border: 1px solid #064789;
  background-color: #064789;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}

.alle-leker {
  color: #064789;
}