.timer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    text-align: center;
    border-top: 2px solid #2980b9;
}

.timeStartReset {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    margin-bottom: 10px;
}

.input-group {
    margin-top: -30px;
}

.input-group button {
    padding: 5px 7px;
}

.input-group h4 {
    color: #2980b9;
    margin-bottom: 1px;
}

.timeInput {
    width: 30px;
    padding: 5px;
    border: 1px solid #2980b9;
    border-radius: 5px;
}

.timerButton {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.timer button:hover {
    background-color: cornflowerblue;
}

.input-group button:hover {
    background-color: cornflowerblue;
}

.time-up-message {
    font-size: 20px;
    color: #2980b9;
    margin-top: 20px;
}

#bnSetTime {
    font-size: 14px;
}

#startknapp {
    font-size: 14px;
}
