.loginbody {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
}

.loginboks {
  background-color: #ffffff;
  width: 300px;
  height: 550px;
  padding: 60px;
  border: 5px solid rgb(255, 255, 255);
  background-color: white;
  border-radius: 10px;
}

.overskrift {
  text-align: center;
  font-weight: bolder;
  font-size: 35px;
  letter-spacing: 0.5px;
}

.inputboks {
  border: none;
  line-height: 30px;
}

.loginInput {
  height: 30px;
  border: none;
  border-bottom: 1px solid darkgrey;
  padding: 5px 4px;
  width: 270px;
}

.loginInput:focus {
  outline: none;

  border: none !important;
  border-bottom: 1px solid black !important;
}

.loginInput::placeholder {
  color: #999;
  font-style: italic;
}

.loginButton {
  font-size: large;
  font-weight: 10 px;
  letter-spacing: 1px;
  width: 300px;
  height: 50px;
  background-color: rgb(28, 28, 116);
  color: white;
  padding: 10px;
  border: solid rgb(28, 28, 116);
  border-radius: 5px;
  cursor: pointer;
}

.loginButton:hover {
  border: solid rgb(82, 82, 150);
  background-color: rgb(82, 82, 150);
}

#logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 100px;
}


.optionButton{
  font-size: medium;
  font-weight: 7 px;
  letter-spacing: 1px;
  width: 300px;
  height: 50px;
  background-color: rgba(28, 28, 116, 0.257);
  color: white;
  padding: 10px;
  border: solid rgba(28, 28, 116, 0.504);
  border-radius: 5px;
  cursor: pointer;
}

.optionButton:hover {
  border: solid rgb(82, 82, 150);
  background-color: rgb(82, 82, 150);
}