.newGameBox {
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

/* Heading styling */
.NGH2 {
  font-size: 30px;
  color: #064789;
  margin: 5px;
}

/* Form styling */
.newGameForm {
  display: flex;
  flex-direction: column;
}

/* Input styling */
/* textarea,
select {
  margin-bottom: 20px;
  padding: 8px;
} */

.gameTitle {
  margin-bottom: 5px;
  padding: 8px;
}

.inputfeltGame {
  padding: 20px;
  border-radius: 5px;
  border: solid #064789;
}

/* Button styling */
.bnConfirm {
  background-color: #064789;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.bnConfirm:hover {
  background-color: #45a049;
}

.fileInputContainer {
  position: relative;
  display: inline-block;
  

}

#fileInput {
  display: none; /* Hide the actual file input */
}



.uploadButton {
  padding: 12px 24px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.uploadButton:hover {
  background-color: #45a049;
}