.newGameContainer {
    border: solid 2px rgb(131, 147, 216);
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column; 
    background-color: #f0f4f8;
}

.gameHeader {
    width: 100%;
    height: 10%;
    border-bottom: solid 1px #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.descBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textLeft,
.textRight {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.textLeft {
    width:30%;
    background-color: #fff;
}

.textRight {
    width:70%;
    background-color: #f9f9f9;
}

.additionalInfo {
    width: 48%; /* Adjust if necessary */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ratingDiv,
.categoryDiv {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.ratingDiv {
    background-color: #f0f4f8;
}

.categoryDiv {
    background-color: #e1ecf4;
}

button {
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
