.content {
    display: flex;
    justify-content: center;
}

.gameContainer {
    border: solid 2px rgb(131, 147, 216);
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 20px;
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    background-color: #f0f4f8;
}

#createdBy {
    padding: 5px;
}

.gameHeader {
    width: 100%;
    height: 10%;
    border-bottom: solid 1px #ccc;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 3%;
}

.infoBox {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1%;
}

.miscInfo,
.gameDesc {
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
}

.miscInfo img {
    border-radius: 5px;
    margin-bottom: 10px;
}

.gameDesc {
    width: 130%;
    position: relative;
}

.additionalInfo {
    width: 25%;
}

.ratingDiv,
.categoryDiv {
    padding: 15px;
    margin-bottom: 20px;
}

.ratingDiv {
    font-size: 22px;
}

/* Black color on the stars when not rated */
.off {
    color: #000;
}

/* coler on the stars when rated */
.on {
    color: gold;
}

.categoryDiv {
    border-radius: 10px;
    background-color: #e1ecf4;
}

.playlistButton {
    padding: 12px 24px;
    background-color: #064789;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.playlistButton:hover {
    background-color: #0056b3;
}

/* likeButton */
.likeButton {
    margin-top: 15px;
    font-size: 20px;
    background-color: #f2f2f2;
    color: #000;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.likeButton.liked {
    background-color: #ff4d4d;
    color: #fff;
}
