.content {
  display: flex;
  justify-content: center;
}

.newGameContainer {
  border: solid 2px rgb(131, 147, 216);
  border-radius: 10px;
  margin-top: 50px;
  padding: 20px;
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  background-color: #f0f4f8;
}

.gameHeader {
  width: 100%;
  height: 10%;
  border-bottom: solid 1px #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 3%;
}

.descBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1%;
}

.textLeft,
.textRight {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.textLeft {
  width: 30%;
  background-color: #fff;
}

.textRight {
  width: 70%;
  background-color: #f9f9f9;
}

.additionalInfo {
  width: 48%; /* Adjust if necessary */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ratingDiv,
.categoryDiv {
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.ratingDiv {
  background-color: #f0f4f8;
}

.categoryDiv {
  background-color: #e1ecf4;
}

.reportButton {
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reportButton:hover {
  background-color: #0056b3;
}

/* likeButton */
.likeButton {
  background-color: #f2f2f2;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.likeButton.liked {
  background-color: #ff4d4d;
  color: #fff;
}
